{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Borrow</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datefrom</th>
                <td>{{ entity.dateFrom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateuntil</th>
                <td>{{ entity.dateUntil|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Accepted</th>
                <td>{{ entity.accepted }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('borrow') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('borrow_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
